
    body{
        background-color: #940384;
    }

    section{
        align-content: center;
        background-color: #000000 !important;
        left: 50%;
    }

    h3{
        color: aqua;
        background: #849573;
}