<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ufc.russas.encontrosuniversitarios">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/eu_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/eu_logo"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name="ufc.russas.encontrosuniversitarios.view.activity.EsqueciSenhaActivity"></activity>
        <activity android:name="ufc.russas.encontrosuniversitarios.view.activity.AvaliacaoAtividadeActivity" />
        <activity android:name="ufc.russas.encontrosuniversitarios.view.activity.AtividadeDadosActivity" />
        <activity
            android:name="ufc.russas.encontrosuniversitarios.view.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

            <!-- stateHidden|adjustPan|adjustNothing|stateVisible|adjustResize -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="ufc.russas.encontrosuniversitarios.helper.GenericFileProvider"
            android:authorities="${applicationId}com.example.encontrosuniversitarios.helper"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>